@import '../global.scss';

.dashboard {
  margin-top: 1rem;
  width: 85vw;
  max-width: 20rem;
  @include flex-centered;
  // Fix flex in safari
  flex: 1 0 auto;
  flex-direction: column;
  border-radius: 0.8rem;
  background-color: #fff;
  z-index: 100;

  &__list {
    list-style: none;
    padding: 0.5rem 0;
  }

  &__item {
    @include flex-centered;
    flex-direction: column;
    padding: 0.5rem 0;
  }

  &__error {
    padding-top: 0.25rem;
    text-align: center;
    font-size: 1rem;
    color: $very-dark-gray;
    text-decoration: underline $dark-gray;
  }
}

.item {
  &__title {
    font-size: 0.6rem;
    color: $dark-gray;
    letter-spacing: 0.1rem;
  }

  &__value {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.25rem 0.25rem 0;
    color: $very-dark-gray;
    font-weight: 700;
  }
}

// ----- Media queries

// Small devices
@media screen and (max-height: 620px) {
  .dashboard {
    &__list {
      padding: 0.25rem 0;
    }
    &__item {
      padding: 0.25rem 0;
    }
  }
}

// Large devices
@media screen and (min-width: 769px) {
  .dashboard {
    min-width: 46rem;
    width: auto;
    max-width: 80%;
    height: 8rem;

    &__list {
      padding: 1.5rem 0;
      display: flex;
      justify-content: center;
    }

    &__item {
      padding: 0 1.5rem;
      justify-content: flex-start;
      align-items: flex-start;
      border-right: 1px solid hsla(0, 0%, 59%, 0.3);

      &:last-child {
        border: none;
      }
    }
  }

  .item {
    &__title {
      font-size: 0.75rem;
      min-width: 5.5rem;
    }
    &__value {
      // Min width or timezone will look weird
      min-width: 5rem;
      padding: 1rem 0 0;
      text-align: left;
      font-size: 1.5rem;
    }
  }
}
