@import '../global.scss';

.dashboard {
  margin-top: 1rem;
  background-color: #fff;
  width: 85vw;
  max-width: 25rem;
  height: 15rem;
  border-radius: 0.8rem;
  z-index: 100;

  &__list {
    list-style: none;
    margin: 1rem 0;
  }

  &__item {
    @include flex-centered;
    flex-direction: column;
    padding: 0.5rem 0;
  }

  &__error {
    padding-top: 0.25rem;
    text-align: center;
    font-size: 1rem;
    color: $very-dark-gray;
    text-decoration: underline $dark-gray;
  }
}

.item {
  &__title {
    font-size: 0.6rem;
    color: $dark-gray;
    letter-spacing: 0.1rem;
  }

  &__value {
    font-size: 1.2rem;
    padding-top: 0.25rem;
    color: $very-dark-gray;
    font-weight: 700;
  }
}
