@import '../global.scss';

.footer {
  min-height: 2rem;
  @include flex-centered;
  @include background-grad;

  &__text {
    text-align: center;
    color: $primary-color;
  }

  &__link {
    font-weight: 500;
    @include link-animation(
      $primary-color,
      $primary-color,
      $primary-color,
      $dark-gray
    );
  }
}
