@import '../global.scss';

.loader__container {
  @include flex-centered;
}
.loader__ellipsis {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}
.loader__ellipsis div {
  position: absolute;
  top: 2rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: $background-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader__ellipsis div:nth-child(1) {
  left: 0.5rem;
  animation: loader__ellipsis1 0.6s infinite;
}
.loader__ellipsis div:nth-child(2) {
  left: 0.5rem;
  animation: loader__ellipsis2 0.6s infinite;
}
.loader__ellipsis div:nth-child(3) {
  left: 2rem;
  animation: loader__ellipsis2 0.6s infinite;
}
.loader__ellipsis div:nth-child(4) {
  left: 3.5rem;
  animation: loader__ellipsis3 0.6s infinite;
}
@keyframes loader__ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader__ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader__ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1.5rem, 0);
  }
}
