.leaflet-container {
  // Calculate according to max height of top-section and footer
  // top-section max is defined by 250px of background
  height: calc(100vh - 2rem - 15.625rem);
  min-height: calc(65vh - 2rem);
  width: 100%;
  z-index: 1;
}

@media screen and (orientation: landscape) {
  .leaflet-container {
    min-height: calc(500px - 2rem);
  }
}
