// Vars
$primary-color: #fafafa;
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$background-color-L: hsl(245, 42%, 42%);
$background-color-R: hsl(226, 72%, 63%);

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Mixins
@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link-animation(
  $link-color,
  $visited-color,
  $underline-color,
  $active-color
) {
  text-decoration: none;
  position: relative;
  color: $link-color;

  &:visited {
    color: $visited-color;
  }
  // Underline animation
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    background: $underline-color;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
  }

  &:hover:after {
    width: 100%;
    left: 0;
    background: $underline-color;
  }

  &:active {
    color: $active-color;
  }
}

@mixin transparent-tap {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

@mixin background-grad {
  background: $background-color-L;
  background: linear-gradient(
    90deg,
    $background-color-L 0%,
    $background-color-R 100%
  );
}
